@import "./main-components.css";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    overflow-wrap: break-word;
}

ul {
    float: right;
    margin: 10px 40px;
}

li {
    display: inline;
}

nav a {
    font-size: 1.06em;
    padding: 14px 16px;
}

nav a:hover {
    color: #ddd;
    background-color: #222;
}

.input_box {
    margin: 20px 0px;
    text-align: center;
}

.input_box input {
    width: 283px;
    height: 25px;
    padding: 3px 12px;
    background-color: #9d9d9d;
    border-radius: 20px;
    border: #9d9d9d;
}

.input_box input::placeholder {
    color: #333;
}

.btn_box {
    text-align: center;
}

.button {
    background-color: #9d9d9d;
    border: #9d9d9d;
    border-radius: 13px;
    padding: 17px 50px;
    text-align: center;
}

.form_text {
    margin: 12px 0;
    text-align: center;
}

.signup_form_button {
    text-align: center;
    font-weight: bold;
}

.signup_form_button:hover {
    text-decoration: underline;
}

.login_form_button {
    text-align: center;
    font-weight: bold;
}

.login_form_button:hover {
    text-decoration: underline;
}