footer {
    grid-column: 1 / 4;
    grid-row: 4;
    background-color: var(--structure-element-background);
    z-index: 0;
    width: 100%;
    height:100%;
    margin:0px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer p {
    margin: 25px 0;
}

footer p.mobile {
    scale: 75%;
}

footer div {
    float: left;
    text-align: center;
    margin:0 20px;
    height:100%;
}