sidebar {
  grid-column: 1;
  grid-row: 2;
}

sidebar.mobile {
  grid-column: 1 / 4;
  grid-row: 3;
}

.sidebar {
  position:relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;

  .contents {
    padding-top:40px;
  }

  .sidebar-tab {
    content: '';
    display:block;
    width:100%;
    margin-bottom: 40px;
    padding:10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: var(--structure-element-button-idle);
    z-index: 0;
    border:none;
    cursor: pointer;
    font-size: 150%;
    font-family:'Times New Roman', Times, serif; 
  }

  .sidebar-tab.clicked {
    background-color: var(--structure-element-button-selected);
  }

  .sidebar-tab.not-clicked {
    background-color: var(--structure-element-button-idle);
  }

  .sidebar-tab:hover {
    background-color: var(--structure-element-button-hover);
  }

  .sidebar-background {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--structure-element-background);
    border-radius: 0 0 0 0; /* This line was updated */
    z-index: -1;
  }
  
    /*I have only the faintest idea of why this works, but it does, so I am not complaining*/
  .sidebar-background.desktop::before {
    content: "";
    position: absolute;
    background-color: transparent;
    right:-25px;
    top:0;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--structure-element-background); /* This is where the magic happens! */
  }
}

.sidebar.mobile {
  display:none;
}

.sidebar-mobile {
  position:relative;
  width: 100%;
  height: 100%;
  z-index: 0;

  .contents {
      display: flex;
      position: relative;
      bottom: 0;
      justify-content: space-around;
  }

  .home, .profile {
      display: flex;
      border: none; 
      background-color: var(--structure-element-button-idle);
      position: relative;
      top: 50%;
      align-items: center;
  }

  .home:hover {
      background-color:  var(--structure-element-button-hover);
    }

  .profile:hover {
      background-color:  var(--structure-element-button-hover);
  }

  .sidebar-background {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--structure-element-background);;
    border-radius: 0 0 0 0; /* This line was updated */
    z-index: -1;
  }
}

.sidebar-mobile.desktop {
  display: none;
}