.cascade-grid-viewer {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    margin: 0px;
    background-color: #b6b5b5;
  }

  .cascade-grid-cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cascade-image-container {
    width: 100%;
    aspect-ratio: 1.5/1;
    margin:5%;
    padding: 5%;
    background-color: #d3d4d3;
  }

  .cascade-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }