header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: white;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

header nav {
    height: 100%;
    display: flex;
}

header ul {
    position:fixed;
    float: right;
    right: 0;
    margin: 10px 40px;
}

header li {
    display: inline;
}

header p {
    font-size: 1.06em;
    display: inline-block;
    margin: 12px 20px;
    
}