<link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'>
<nav>
    <span class="header-logo">
        <img src="/files/logo.png" style="height: 100%; object-fit: contain;">
        <p style="font-family: 'Aboreto'; color: #6d411b; font-size: 30px;">
            Worldpix
        </p>
    </span>
    <ul style="grid-column: 2;">
        <li><a href="#">Contact</a></li>
        <li><a href="/html/pages/about-us.html">About us</a></li>
        <li><a href="#">News</a></li>
    </ul>
    <img src="/files/hamburger-menu.png" class="hamburger-menu">
</nav>
<script src="/js/hamburger-menu.js"></script>
<script>
    xLuIncludeFile();
</script>