@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --min-body-height-desktop: calc(100vh - 3.25em);
    --min-body-height-mobile: calc(100vh - 6.5em);
    --structure-element-background: rgb(228, 228, 228);
    --structure-element-button-selected: rgb(200, 200, 200);
    --structure-element-button-hover: rgb(172, 172, 172);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree",sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    overflow-wrap: break-word;
}

fieldset {
    border: none;
}

nav a {
    font-size: 1.06em;
    padding: 14px 16px;
}

nav a:hover {
    background-color: var(--structure-element-button-selected);
}

.input_box {
    margin: 20px 0px;
    text-align: center;
}

.input_box input {
    width: 283px;
    height: 25px;
    padding: 3px 12px;
    margin: 8px 0;
    background-color: var(--structure-element-button-selected);
    border-radius: 20px;
    border: #9d9d9d;
}

.input_box input::placeholder {
    color: #333;
}

.btn_box {
    text-align: center;
}

.button {
    background-color: var(--structure-element-button-selected);
    border: #9d9d9d;
    border-radius: 13px;
    padding: 17px 50px;
    text-align: center;
}

.form_text {
    margin: 12px 0;
    text-align: center;
}

.signup_form_button {
    text-align: center;
    font-weight: bold;
}

.signup_form_button:hover {
    text-decoration: underline;
}

.login_form_button {
    text-align: center;
    font-weight: bold;
}

.login_form_button:hover {
    text-decoration: underline;
}

.right_sidebar {
    float: right;
}