.menu {
    display:none;
    position:absolute;
    grid-auto-rows:auto;
    grid-template-columns: 1fr;
    height: 200px;
    width: 200px;
    background-color: rgb(231, 231, 231);
    top: 3.25em;
    right:0;
    z-index: 4;
}

.menu li {
    margin: 10px 0;
    padding: 10px 5px;
    width:100%;
}

.menu li:hover {
    background-color: var(--structure-element-button-selected);
}

.menu ul {
    margin: 10px 20px 20px 20px;
    list-style: none;
}

.menu a {
    display:flex;
    align-items: center;
    justify-content: left;
}
