<link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'>
<span style="overflow: hidden; height: 100%; width: 100%;">
    <nav>
        <span class="header-logo">
            <img src="/worldpix/old/files/logo.png" style="height: 3.25em; object-fit: contain;">
            <p style="font-family: 'Aboreto'; color: #6d411b; font-size: 30px;">
                Worldpix
            </p>
        </span>
        <ul class="header-ul" style="grid-column: 2;">
            <li><a href="#">Contact</a></li>
            <li><a href="/worldpix/old/html/pages/about-us.html">About us</a></li>
            <li><a href="#">News</a></li>
        </ul>
        <img src="/worldpix/old/files/hamburger-menu.png" class="hamburger-menu">
    </nav>
</span>
<div class="menu" xlu-include-file="/worldpix/old/html/components/general-components/menu_elements.html"></div>
<script src="/worldpix/old/js/hamburger-menu.js"></script>
<script>
    xLuIncludeFile();
</script>