<div class="sidebar">
    <!--div class="inverted-border-radius"></div-->
    <div class="sidebar-background"></div>
    <div class="contents">
        <button class="sidebar-tab clicked" type="button">Home</button>
        <button class="sidebar-tab" type="button">Profile</button>
    </div>
</div>

<div class="sidebar-mobile">
    <!--div class="inverted-border-radius"></div-->
    <div class="sidebar-background"></div>
    <div class="contents">
        <button class="home" type="button">
            <img src="/worldpix/old/files/home.png" height="50" weight="50">
        </button>
        <button class="profile" type="button">
            <img src="/worldpix/old/files/profile.png" height="40" weight="40">
        </button>
    </div>
</div>

<script src="/worldpix/old/js/sidebar.js"></script>
<script>
    xLuIncludeFile();
</script>