.about-us-container {
    height: 90vh;
}

.about-us-text {
    border: 2px solid black;
    border-radius: 6px;
    padding: 30px;
    margin: 100px;
}

@media (min-width: 576px) {
    .about-us-text {
        width: 350px;
    }

    .objectives-container h1 {
        left: 200px;
    }
    
}

@media (max-width: 576px) {
    .objectives-container h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}

.about-us-text h1 {
    padding: 0 0 10px 0;
}

.who-are-we-container {
    height: 90vh;
    background-color: gainsboro;
    text-align: center;
}

.who-are-we-content {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

.who-are-we-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.objectives-container {
    height: 90vh;
}

.objectives-container h1 {
    position: relative;
    height: 100%;
    width: 200px;
    padding: 20px;
    background-color: rgb(190, 190, 190);
}
