.about-us-container {
    height: 90vh;
}

.about-us-text {
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    padding: 30px;
    margin: 100px;
    width: 400px;
}

.about-us-text h1 {
    padding: 0 0 10px 0;
}

.who-are-we-container {
    height: 90vh;
    background-color: gainsboro;
    text-align: center;
}

.who-are-we-content {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

.who-are-we-text {
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.objectives-container {
    position: absolute;
    height: 90vh;
}

.objectives-container h1 {
    position: absolute;
    height: 100%;
    width: 200px;
    padding: 20px;
    left: 200px;
    background-color: rgb(190, 190, 190);
}
