.album_visualization {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85%;
}

.album_visualization ul {
    list-style: none;
    padding-left: 20px;
}

.album_visualization li {
    padding: 20px 60px;
    margin: 30px 0;
    border-radius: 30px 0px 0px 30px
}

.album_visualization li:hover {
    background-color: #d9d9d9;
}

.album_visualization a {
    font-size: 1.15rem;
}

.album_visualization h1 {
    padding: 20px 25px;
}

.album_visualization h2 {
    padding-left: 20px;
}

.hide_album_arrow {
    float: right;
    background-image: url("https://static.thenounproject.com/png/551749-200.png");
    background-color: #b6b5b5;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-top-left-radius: 40px;
    height: 50px;
    width: 50px;
}

.album_content{
    background-color: #b6b5b5;
}

.images_container {
    position: absolute;
    background-color: #b6b5b5;
    height: 100%;
    width: 70%;
    left: 0;
}

.right_sidebar {
    position: absolute;
    background-color: #b6b5b5;
    height: 100%;
    width: 30%;
    right: 0;
}

.album_content{
    margin: 46px 0px;
}