.form_container {
    background-color: var(--structure-element-background);
    border-radius: 13px;
    border-color: black;
    border: 2px solid;
    padding: 10px 20px;
    margin: 40px 50px;
    width: fit-content;
    height: fit-content;
}

.form_container.session {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top:50vh;
}

.form_container.session.mobile {
    position: absolute;
    right: 50vw;
    top:50vh;
    transform: translateX(50%) translateY(-50%) scale(70%);
    margin: 0px;
}

.form_container.active .login_form {
    display: none;
}

.form_container .signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container h1 {
    margin: 20px 0;
    padding: 0 0 12px 0;
    border-bottom: 2px solid #000;
}